* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1100px;
    margin: auto;
    
}

.news_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 56px;
}

.news_nav-menu {
    gap: 40px;
    list-style: none;
    font-size: 18px;
    color: grey;
}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header sidebar'
        'content main sidebar';
   grid-template-columns: 2fr 1fr;
    grid-template-rows:  1fr 1fr;
    row-gap: 10px;
    height: 500px;
    margin-bottom: 50px;
    
}

.header {
    grid-area: header;

    
}

.sidebar {
    grid-area: sidebar;
    background-color: #212121;
    width: 350px;
    height: 480px;
    color: white;
}


.sidebar h2 {
    font-size: 42px;
    color: orange;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar-types {
    border-bottom: 1px solid rgb(212, 211, 211);
    margin-left: 20px;
    margin-right: 20px;
    
    
}

.sidebar-types:last-child {
    border: none;
}



.title {
    font-size: 22px;
    font-weight: 600;
}

.title-details {
    color: rgba(174, 172, 172, 0.998);
    margin-bottom: 25px;
    
}

.main {
    grid-area: main;
    line-height: 1.3;
    width: 340px;
    text-wrap:pretty;
    margin-right: 50px;
    height: 150px;
    
    
}

.read-more {
    width: fit-content;
    background-color: #f02d2d;
    padding: 10px 30px;
    color: white;
    margin-top: 25px;
    
}

.content {
    grid-area: content;
    width: 280px;
    font-size: 48px;
    font-weight:bolder;
    height: fit-content;
    
}

.latest_news {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.latest_news-pages {
   
    height: 120px;
    display: flex;
    gap: 20px;
    
}

.latest_news-pages h2 {
    margin: 0px;
    font-size: 36px;
    color: grey;
}

.latest_news-pages p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
   
}

.latest_news-pages p:nth-child(3) {
    line-height: 1.5;
    color: grey;
    font-weight: 600;
}




